.App {
  text-align: center;
}

.card{
  background-color: blanchedalmond;
  width: 350px;
  padding: 10px;
}
.hero_name{
  display: flex;
  justify-content: space-between;
}

.blond{
  color:yellow
}
.brown{
  color:brown
}
.black{
  color:black
}
.auburn_white{
  color: white;
}


